@charset "UTF-8";
 body {
      background-color: #f8f9fa;
    }
    .error-card {
      max-width: 500px;
      margin: 100px auto;
      padding: 30px;
      border-radius: 20px;
      box-shadow: 0 0 15px rgba(0,0,0,0.1);
      background-color: #ffffff;
    }
    .error-emoji {
      font-size: 48px;
    }